body {
  background-color: #404040;
  font-family: Arial;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
}

h3 {
  color: #f2f2f2;
  margin: 2px;
  text-align: center;
  padding-top: 10px;
}

#main-search {
  width: 100%;
  border: none;
  color: #f2f2f2;
  font-family: inherit;
  font-size: inherit;
  margin: 5px;
}

#list-view {
  width: 20%;
  float: left;
}

#restaurant-list {
  margin: 2px;
  background-color: #404040;
  color: #f2f2f2;
  list-style-type: none;
  padding-left: 0;
}

#restaurant-list li {
  margin-top: 5px;
  margin-left: 5px;
}

#map {
  width: 80%;
  height: 100vh;
  float: right;
  margin: 0;
}

/* info window styles */

.address, .social-info {
  padding-bottom: 2px;
}

.image {
  padding: 5px;
}

small {
  color: blue;
  text-align: center;
}
